html,
body {
  background: #4286f4;
}

#heading {
  text-align: center;
  position: relative;
}

#battle-royale {
  font-size: 4.5rem;
  text-align: left;
  position: absolute;
  bottom: 0;
  right: 10%;
}

.character__div {
  border: 1px black solid;
  display: inline-block;
  background: #fff;
}

.character__image {
  max-width: 150px;
}

#available-characters {
  text-align: center;
}

.character__div {
  margin: 10px;
}

#alert-message {
  border: 1px black solid;
  text-align: center;
  background: #fff;
}

.disappear {
  visibility: hidden;
}